#SwitchButton {
   background: transparent;
   border: 0px;
   width: 35px;
   height: 35px;
   margin: 30px 5px 0;

   position: absolute;
   top:0;
   right: 0;
   cursor: pointer;
   
   svg{
      font-size: 30px;
      transition: 0.3s;
      color:var(--main-color);

      &:hover {            
         color:var(--hot-pink);
      }
   }
}