* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

:root {
   --light-background: #f8f8f8;
   --light-black:#29292e;
   --light-gray: #a8a8b3;
   --medium-gray:#737380;
   --purple: #835afd;
   --white: #ffffff;
   --off-white: #f8f8f8;
   --red-google: #ea4335;
   --hot-pink:#e559f9;


}

body {
   background-color: var(--light-background);
   color: var(--light-black);
}

body, input, button, textarea {
   font: 400 16px 'Roboto', sans-serif;
}