* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

:root {

   .light-theme{
      --main-background: #f8f8f8;
      --background:#f3f3f3;
      --background-two:#fefefe;
      --background-three:#e5e5e5;
      --light-gray: #a8a8b3;
      --medium-gray:#737380;
      --main-color: #835afd;
      --main-color-aside:#835afd;
      --white: #ffffff;
      --off-white: #f8f8f8;
      --red-google: #ea4335;
      --hot-pink:#e559f9;
      --title: #29292e;  
      --underline: #e2e2e2;    
   }
   .dark-theme {
      --main-background: #121214;
      --background:#29292e;
      --background-two:#29292e;
      --background-three:#202020;
      --light-gray: #a8a8b3;
      --medium-gray:#a6a6a8;
      --main-color: #835afd;
      --main-color-aside:#000000;
      --white: #ffffff;
      --off-white: #f8f8f8;
      --red-google: #e91e63;
      --hot-pink:#e559f9;
      --title: #f3f3f3;
      --underline: #424242;
   }
}

body {
   color: var(--light-black);
}

body, input, button, textarea {
   font: 400 16px 'Roboto', sans-serif;
}
html {
   height: 100vh;
}

