.question {
   background: var(--background-two);
   border-radius: 8px;
   box-shadow: 0 2px 12px rgba(0, 0, 0, 0.04);
   padding: 24px;
  
   & + .question {
     margin-top: 8px;
   }
 
   &.highLighted {   
    -webkit-box-shadow: 0px 0px 12px 0px var(--main-color); 
    box-shadow: 0px 0px 12px 0px var(--main-color);
    margin:20px 0;
    
    p {
      color: var(--title);
    }
    
    footer .user-info span {
      color: var(--title);      
    }

   
  }

  &.answered {
    background: var(--background-three);
  }

   p {
     color: var(--title);
   }
 
   footer {
     display: flex;
     justify-content: space-between;
     align-items: center;
     margin-top: 24px;
     
     .user-info {
       display: flex;
       align-items: center;
   
       img {
         width: 32px;
         height: 32px;
         border-radius: 50%;
       }
   
       span {
         margin-left: 8px;
         color: var(--title);
         font-size: 14px;
       }
     }

     > div {
       display: flex;
       gap: 16px;
     }
 
     button {
       border: 0;
       background: transparent;
       cursor: pointer;
       transition: filter 0.2;

       &:hover {
        filter: brightness(0.7);        
       }

       &.like-button {
         display: flex;
         align-items: flex-start;
         color: var(--medium-gray);
         gap: 8px;
         font-size: 24px;
         transition: 0.3s;

         svg:hover {
          color: var(--main-color);
         }

         &.liked {
           color: var(--main-color);        
         }

       }       
       
     }
   }
 
 }